

#menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  right: 15px;
}
#menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  right: 15px;
  top:10px;
  min-height:70px;
}
#menu li { 
  cursor:pointer;
  /*background:#94C5EB url(../img/plusminus.png) no-repeat right top;*/
  border-bottom:1px solid #f8fafb;
  padding: 5px;
  position: relative;
  left: 9px;
        
	/*background-color: #fff;*/
}

#menu li a {
  text-decoration: none;
  color: #363;
  font-size: 1.3em;
        
}
#menu li a.txt {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
        
}

#menu>li>a { 
  padding: 2px 10px; 
  /*font-weight:normal;*/
  font-weight: bold;
  
}

#menu li li{ 
   
  cursor:auto;
  border:0;
  padding:0 14px;
  /*background-color:#fff;*/
  background-image: none;
  position: relative;
  top:1px;
  left: 16px;
  color:#1a5252;
  /*font-size: 1.1em;*/
}

#disclaimer, #intro {
  width: 400px;
}
